In [2]:
import pickle
import pandas as pd
import numpy as np

# https://sbert.net/
from sentence_transformers import SentenceTransformer

c:\Users\linan\.conda\envs\NLP\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
dataset_3000 = pd.read_pickle('./dataset/text_3000.pickle')
dataset_300 = pd.read_pickle('./dataset/text_300.pickle')

print(dataset_3000.shape)
print(dataset_300.shape)

(3000, 2)
(300, 2)

In [3]:
dataset_3000.head()

                                                text  label
0  "logic of empire" is a science fiction novel b...      1
1  major general richard hutton davies,  (14 nove...      1
2  elgin reptiles is the name given to a group of...      1
3  dubgaill and finngaill, or dubgenti and finnge...      0
4  chang teh-ming (; born 1938) is a taiwanese ph...      1

In [4]:
def vectorize(dataset):
    vector_set = pd.DataFrame(columns=['vector', 'label'], index=range(len(dataset)))
    vectorizer = SentenceTransformer('all-MiniLM-L6-v2')
    text_list = list(dataset['text'])
    vectors = vectorizer.encode(text_list)
    vector_set['vector'] = list(vectors)
    vector_set['label'] = list(dataset['label'])
    return vector_set

In [10]:
dataset_3000_vector = vectorize(dataset_3000)
with open('./dataset/vector_3000_sbert.pickle', 'wb') as f:
    pickle.dump(dataset_3000_vector, f)

In [11]:
dataset_300_vector = vectorize(dataset_300)
with open('./dataset/vector_300_sbert.pickle', 'wb') as f:
    pickle.dump(dataset_300_vector, f)

# Read from pickle

In [13]:
dataset_3000_vector = pd.read_pickle('./dataset/vector_3000_sbert.pickle')
dataset_300_vector = pd.read_pickle('./dataset/vector_300_sbert.pickle')

print('train set size: ', len(dataset_3000_vector))
print('test set size: ', len(dataset_300_vector))

print('train set vector size: ', len(dataset_3000_vector['vector'][0]))
print('test set vector size: ', len(dataset_300_vector['vector'][0]))

train set size:  3000
test set size:  300
train set vector size:  384
test set vector size:  384

In [14]:
dataset_3000_vector.head()

                                              vector  label
0  [0.07249437, -0.07991132, -0.035554323, -0.048...      1
1  [-0.029874628, -0.012974098, 0.054811098, -0.0...      1
2  [-0.122416824, 0.03937837, 0.04780685, -0.0341...      1
3  [-0.06686082, 0.004060772, -0.0090795765, -0.0...      0
4  [-0.0040333048, 0.022765186, 0.0038558021, 0.0...      1

# For GPT 3.5

In [3]:
dataset_3000 = pd.read_pickle('./dataset/text_3000_Turbo.pickle')
dataset_300 = pd.read_pickle('./dataset/text_300_Turbo.pickle')

print(dataset_3000.shape)
print(dataset_300.shape)

(3000, 2)
(300, 2)

In [5]:
dataset_3000_vector = vectorize(dataset_3000)
with open('./dataset/vector_3000_Turbo_sbert.pickle', 'wb') as f:
    pickle.dump(dataset_3000_vector, f)

In [ ]:
dataset_300_vector = vectorize(dataset_300)
with open('./dataset/vector_300_Turbo_sbert.pickle', 'wb') as f:
    pickle.dump(dataset_300_vector, f)