# Bag of Words

In [1]:
import pickle
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
dataset_3000 = pd.read_pickle('./dataset/text_3000.pickle')
dataset_300 = pd.read_pickle('./dataset/text_300.pickle')

print(dataset_3000.shape)
print(dataset_300.shape)

(3000, 2)
(300, 2)

In [3]:
dataset_3000.head()

                                                text  label
0  "logic of empire" is a science fiction novel b...      1
1  major general richard hutton davies,  (14 nove...      1
2  elgin reptiles is the name given to a group of...      1
3  dubgaill and finngaill, or dubgenti and finnge...      0
4  chang teh-ming (; born 1938) is a taiwanese ph...      1

In [4]:
vectorizer = CountVectorizer()
vectorizer.fit(dataset_3000['text'])
print('vocabulary size: ', len(vectorizer.vocabulary_))

vector_3000 = vectorizer.transform(dataset_3000['text'])
vector_300 = vectorizer.transform(dataset_300['text'])

vocabulary size:  36862

Too many words, the vector is too long, we only use words with minimam frequency 10

In [5]:
vectorizer = CountVectorizer(min_df=10)
vectorizer.fit(dataset_3000['text'])
print('vocabulary size: ', len(vectorizer.vocabulary_))

vector_3000 = vectorizer.transform(dataset_3000['text'])
vector_300 = vectorizer.transform(dataset_300['text'])

vocabulary size:  3969

In [6]:
dataset_3000_vector = pd.DataFrame(columns=['vector', 'label'])
dataset_3000_vector['vector'] = list(vector_3000.toarray())
dataset_3000_vector['label'] = dataset_3000['label']

dataset_300_vector = pd.DataFrame(columns=['vector', 'label'])
dataset_300_vector['vector'] = list(vector_300.toarray())
dataset_300_vector['label'] = dataset_300['label']

In [8]:
dataset_3000_vector.to_pickle('./dataset/vector_3000_bow.pickle')
dataset_300_vector.to_pickle('./dataset/vector_300_bow.pickle')

# Read from pickle

In [9]:
dataset_3000_vector = pd.read_pickle('./dataset/vector_3000_bow.pickle')
dataset_300_vector = pd.read_pickle('./dataset/vector_300_bow.pickle')

print('train set size: ', len(dataset_3000_vector))
print('test set size: ', len(dataset_300_vector))

print('train set vector size: ', len(dataset_3000_vector['vector'][0]))
print('test set vector size: ', len(dataset_300_vector['vector'][0]))

train set size:  3000
test set size:  300
train set vector size:  3969
test set vector size:  3969

In [10]:
dataset_3000_vector.head()

                                              vector  label
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...      1
1  [0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ...      1
2  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...      1
3  [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...      0
4  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...      1