In [207]:
import pandas as pd
import pickle

# Load all dataset

In [208]:
gpt3 = pd.read_pickle('./dataset/text_3000.pickle')
gpt35 = pd.read_pickle('./dataset/text_3000_Turbo.pickle')

In [209]:
gpt3['prompt'] = gpt3['text'].apply(lambda x: ' '.join(x.split()[:7]))
wiki3 = gpt3[gpt3['label'] == 0]
gpt3 = gpt3[gpt3['label'] == 1]

gpt35['prompt'] = gpt35['text'].apply(lambda x: ' '.join(x.split()[:7]))
wiki35 = gpt35[gpt35['label'] == 0]
gpt35 = gpt35[gpt35['label'] == 1]

#### Random sample testdata from GPT3 and GPT3.5

In [210]:
df = pd.DataFrame(columns=['prompt','index_wiki_3', 'index_wiki_35', 'wiki', 'index_gpt3', 'gpt3', 'index_gpt35', 'gpt35'])

i = 0
while i < 50:
    random_sample = wiki3.sample(1)
    random_prompt = random_sample['prompt'].values[0]
    
    gpt35_sample = gpt35[gpt35['prompt'] == random_prompt]
    gpt3_sample = gpt3[gpt3['prompt'] == random_prompt]
    wiki35_sample = wiki35[wiki35['prompt'] == random_prompt]
    
    if len(gpt35_sample) == 0 or len(gpt3_sample) == 0 or len(wiki35_sample) == 0:
        continue

    wiki_text = random_sample['text'].values[0]
    index_wiki3 = random_sample.index[0]
    if index_wiki3 in df['index_wiki_3'].values:
        continue
    index_wiki35 = wiki35_sample.index[0]
    index_gpt3 = gpt3_sample.index[0]
    index_gpt35 = gpt35_sample.index[0]
    gpt3_text = gpt3_sample['text'].values[0]
    gpt35_text = gpt35_sample['text'].values[0]
    
    df.loc[i] = [random_prompt, index_wiki3, index_wiki35, wiki_text, index_gpt3, gpt3_text, index_gpt35, gpt35_text]
    
    i += 1
    
df.reset_index(drop=True)

,prompt,index_wiki_3,index_wiki_35,wiki,index_gpt3,gpt3,index_gpt35,gpt35
0,johnny warangkula tjupurrula (1925 – 12 february,411,2828,johnny warangkula tjupurrula (1925 – 12 februa...,1195,johnny warangkula tjupurrula (1925 – 12 februa...,1316,johnny warangkula tjupurrula (1925 – 12 februa...
1,"charles thomas mckinnon ""chic"" murray (6 november",996,1991,"charles thomas mckinnon ""chic"" murray (6 novem...",1476,"charles thomas mckinnon ""chic"" murray (6 novem...",2979,"charles thomas mckinnon ""chic"" murray (6 novem..."
2,"eugenio da venezia (november 9, 1900 –",830,1271,"eugenio da venezia (november 9, 1900 – septemb...",1729,"eugenio da venezia (november 9, 1900 – october...",2145,"eugenio da venezia (november 9, 1900 – ???) wa..."
3,"oliver hazard perry belmont (november 12, 1858",344,26,"oliver hazard perry belmont (november 12, 1858...",364,"oliver hazard perry belmont (november 12, 1858...",2270,"oliver hazard perry belmont (november 12, 1858..."
4,"lily pagratis venson (october 24, 1924 –",2083,830,"lily pagratis venson (october 24, 1924 – june ...",1187,"lily pagratis venson (october 24, 1924 – march...",186,"lily pagratis venson (october 24, 1924 – march..."
5,"jermaine samuels jr. (born november 13, 1998)",2835,546,"jermaine samuels jr. (born november 13, 1998) ...",673,"jermaine samuels jr. (born november 13, 1998) ...",992,"jermaine samuels jr. (born november 13, 1998) ..."
6,"philip allen bennett (march 5, 1881 –",586,1281,"philip allen bennett (march 5, 1881 – december...",2562,"philip allen bennett (march 5, 1881 – december...",1111,"philip allen bennett (march 5, 1881 – date of ..."
7,david beriáin amatriáin (1977 – 26 april,1697,1007,david beriáin amatriáin (1977 – 26 april 2021)...,436,david beriáin amatriáin (1977 – 26 april 2019)...,532,david beriáin amatriáin (1977 – 26 april 2021)...
8,henry osborn (2 june 1859 – 22,2908,1965,henry osborn (2 june 1859 – 22 july 1937) was ...,2571,henry osborn (2 june 1859 – 22 december 1932) ...,1112,henry osborn (2 june 1859 – 22 august 1934) wa...
9,beyond ipanema: brazilian waves in global music,997,1404,beyond ipanema: brazilian waves in global musi...,614,beyond ipanema: brazilian waves in global musi...,2522,beyond ipanema: brazilian waves in global musi...
10,"ma xifan (; 899 – may 30,",2318,1345,"ma xifan (; 899 – may 30, 947), courtesy name ...",667,"ma xifan (; 899 – may 30, 958), courtesy name ...",1069,"ma xifan (; 899 – may 30, 950) was a prominent..."
11,"francisco carmelo camet, also known as eduardo",772,586,"francisco carmelo camet, also known as eduardo...",2257,"francisco carmelo camet, also known as eduardo...",1198,"francisco carmelo camet, also known as eduardo..."
12,nicanor molinas (august 1823 – july 1892),451,2933,nicanor molinas (august 1823 – july 1892) was ...,1524,nicanor molinas (august 1823 – july 1892) was ...,646,nicanor molinas (august 1823 – july 1892) was ...
13,"james mcmahon (april 22, 1856 – june",1231,2990,"james mcmahon (april 22, 1856 – june 1, 1922) ...",2743,"james mcmahon (april 22, 1856 – june 5, 1926) ...",1770,"james mcmahon (april 22, 1856 – june 10, 1920)..."
14,abdullah ghanim khawar is a 35-year-old notorious,1948,2243,abdullah ghanim khawar is a 35-year-old notori...,1763,abdullah ghanim khawar is a 35-year-old notori...,1223,abdullah ghanim khawar is a 35-year-old notori...
15,tatyana vasilyevna kazankina (; born 17 december,1994,807,tatyana vasilyevna kazankina (; born 17 decemb...,1941,tatyana vasilyevna kazankina (; born 17 decemb...,569,tatyana vasilyevna kazankina (; born 17 decemb...
16,"lorenzo ""ka tanny"" martinez tañada sr. cclh",1490,397,"lorenzo ""ka tanny"" martinez tañada sr. cclh (,...",2401,"lorenzo ""ka tanny"" martinez tañada sr. cclh (b...",772,"lorenzo ""ka tanny"" martinez tañada sr. cclh (a..."
17,"demidovsky (; masculine), demidovskaya (; femi...",965,412,"demidovsky (; masculine), demidovskaya (; femi...",2033,"demidovsky (; masculine), demidovskaya (; femi...",1233,"demidovsky (; masculine), demidovskaya (; femi..."
18,"molly macklin fowler (born february 7, 1957)",2708,2704,"molly macklin fowler (born february 7, 1957) i...",1163,"molly macklin fowler (born february 7, 1957) i...",1895,"molly macklin fowler (born february 7, 1957) i..."
19,lieutenant colonel john macrae-gilstrap (31 de...,2349,2976,lieutenant colonel john macrae-gilstrap (31 de...,1825,lieutenant colonel john macrae-gilstrap (31 de...,1874,lieutenant colonel john macrae-gilstrap (31 de...
20,"erin cathleen conaton (born september 26, 1970)",1262,124,"erin cathleen conaton (born september 26, 1970...",269,"erin cathleen conaton (born september 26, 1970...",2172,"erin cathleen conaton (born september 26, 1970..."
21,the pays des impressionnistes is a certification,1951,1472,the pays des impressionnistes is a certificati...,861,the pays des impressionnistes is a certificati...,2429,the pays des impressionnistes is a certificati...
22,"arthur llewellyn williams (january 30, 1856 –",2030,2151,"arthur llewellyn williams (january 30, 1856 – ...",987,"arthur llewellyn williams (january 30, 1856 – ...",666,"arthur llewellyn williams (january 30, 1856 – ..."
23,ots 44 is a free-floating planetary-mass object,2957,1761,ots 44 is a free-floating planetary-mass objec...,378,ots 44 is a free-floating planetary-mass objec...,2400,ots 44 is a free-floating planetary-mass objec...
24,"andrew james whitworth (born december 12, 1981)",149,1102,"andrew james whitworth (born december 12, 1981...",1655,"andrew james whitworth (born december 12, 1981...",939,"andrew james whitworth (born december 12, 1981..."
25,"james logan jones jr. (born december 19,",1774,2110,"james logan jones jr. (born december 19, 1943)...",972,"james logan jones jr. (born december 19, 1955)...",2581,"james logan jones jr. (born december 19, 1943)..."
26,kendra oluchi etufunwa is a nigerian model,1229,1702,kendra oluchi etufunwa is a nigerian model and...,2947,kendra oluchi etufunwa is a nigerian model and...,1493,kendra oluchi etufunwa is a nigerian model kno...
27,"henning karl larsen (december 12, 1910 –",488,1155,"henning karl larsen (december 12, 1910 – janua...",1337,"henning karl larsen (december 12, 1910 – may 5...",2754,"henning karl larsen (december 12, 1910 – unkno..."
28,the lynndyl subdivision is a rail line,1408,2179,the lynndyl subdivision is a rail line owned a...,1302,the lynndyl subdivision is a rail line in the ...,1121,the lynndyl subdivision is a rail line located...
29,ctenomyces serratus is a keratinophilic fungal...,2278,430,ctenomyces serratus is a keratinophilic fungal...,2379,ctenomyces serratus is a keratinophilic fungal...,1479,ctenomyces serratus is a keratinophilic fungal...
30,"manuel antonio carreño muñoz (june 17, 1812",1419,1741,"manuel antonio carreño muñoz (june 17, 1812 – ...",2296,"manuel antonio carreño muñoz (june 17, 1812 – ...",2412,"manuel antonio carreño muñoz (june 17, 1812 – ..."
31,devante darrius rodney (born 19 may 1998),1660,1191,devante darrius rodney (born 19 may 1998) is a...,2806,devante darrius rodney (born 19 may 1998) is a...,91,devante darrius rodney (born 19 may 1998) is a...
32,"gustavus adolphus smith (december 26, 1820 –",367,246,"gustavus adolphus smith (december 26, 1820 – d...",1612,"gustavus adolphus smith (december 26, 1820 – m...",2619,"gustavus adolphus smith (december 26, 1820 – o..."
33,douglas arthur smith (11 february 1924 –,2866,1683,douglas arthur smith (11 february 1924 – 15 oc...,1522,douglas arthur smith (11 february 1924 – 1 feb...,943,douglas arthur smith (11 february 1924 – ) was...
34,"sarah e. turner (born july 25, 1966)",1957,1240,"sarah e. turner (born july 25, 1966) is an ame...",2869,"sarah e. turner (born july 25, 1966) is an ame...",311,"sarah e. turner (born july 25, 1966) is an acc..."
35,malick sidibé (1935 – 14 april 2016),1096,2193,malick sidibé (1935 – 14 april 2016) was a mal...,2279,malick sidibé (1935 – 14 april 2016) was a sen...,2057,malick sidibé (1935 – 14 april 2016) was a mal...
36,papuwa (stylized as papuwa) is a japanese,185,1538,papuwa (stylized as papuwa) is a japanese man...,2778,papuwa (stylized as papuwa) is a japanese pop...,2380,papuwa (stylized as papuwa) is a japanese mang...
37,sojourn is a fantasy comic book series,1473,758,sojourn is a fantasy comic book series publish...,561,sojourn is a fantasy comic book series created...,1463,sojourn is a fantasy comic book series that wa...
38,kenneth davison mcclintock-hernández (born jan...,2602,1241,kenneth davison mcclintock-hernández (born jan...,2535,kenneth davison mcclintock-hernández (born jan...,721,kenneth davison mcclintock-hernández (born jan...
39,susan thayer (born 17 october 1957 in,1545,933,susan thayer (born 17 october 1957 in new york...,2345,susan thayer (born 17 october 1957 in london) ...,2658,susan thayer (born 17 october 1957 in new york...
40,niccolò fontana tartaglia (; 1499/1500 – 13,1002,1452,niccolò fontana tartaglia (; 1499/1500 – 13 de...,1314,niccolò fontana tartaglia (; 1499/1500 – 13 de...,2843,niccolò fontana tartaglia (; 1499/1500 – 13 de...
41,"nancy elisabeth soderberg (born march 13, 1958)",1238,1184,"nancy elisabeth soderberg (born march 13, 1958...",1194,"nancy elisabeth soderberg (born march 13, 1958...",730,"nancy elisabeth soderberg (born march 13, 1958..."
42,"geoffrey allan crossley, cmg (11 november 1920",1839,1558,"geoffrey allan crossley, cmg (11 november 1920...",2161,"geoffrey allan crossley, cmg (11 november 1920...",1904,"geoffrey allan crossley, cmg (11 november 1920..."
43,"""waterclap"" is a science fiction short story",1235,1975,"""waterclap"" is a science fiction short story b...",2222,"""waterclap"" is a science fiction short story b...",971,"""waterclap"" is a science fiction short story t..."
44,wir juden (we jews) is a 1934,1653,2329,wir juden (we jews) is a 1934 book by german r...,1068,wir juden (we jews) is a 1934 german drama fil...,203,wir juden (we jews) is a 1934 german documenta...
45,out-of-state plates is a double compilation album,1289,1816,out-of-state plates is a double compilation al...,1550,out-of-state plates is a double compilation al...,1612,out-of-state plates is a double compilation al...
46,domestic difficulties is a silent short film,2193,2128,domestic difficulties is a silent short film f...,295,domestic difficulties is a silent short film r...,2313,domestic difficulties is a silent short film t...
47,kaleva was a civilian junkers ju 52,326,611,kaleva was a civilian junkers ju 52 passenger ...,868,kaleva was a civilian junkers ju 52 transport ...,2303,kaleva was a civilian junkers ju 52 aircraft t...
48,t. k. divakaran (8 december 1920 –,739,250,t. k. divakaran (8 december 1920 – 19 january ...,1939,t. k. divakaran (8 december 1920 – 22 january ...,2198,t. k. divakaran (8 december 1920 – ????) was a...
49,andrew john shankland (born 8 april 1964),2912,1968,andrew john shankland (born 8 april 1964) is a...,550,andrew john shankland (born 8 april 1964) is a...,1462,andrew john shankland (born 8 april 1964) is a...

In [211]:
# save to pickle
df.to_pickle('./dataset/deepdive_100.pickle')

#### Analyze label prediction on test dataset

In [212]:
from sklearn.linear_model import LogisticRegression, RidgeClassifier, Perceptron, SGDClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn import preprocessing

In [213]:
FILENAMES = ['sbert', 'bow', 'sent2vec', 'tfidf', 'Turbo_sbert', 'Turbo_bow', 'Turbo_sent2vec', 'Turbo_tfidf']
#best performing model from cross validation
BEST_MODEL = {'sbert': RidgeClassifier(alpha=5), 
              'bow': GradientBoostingClassifier(learning_rate=0.5, min_samples_leaf=5,min_samples_split=5),
              'sent2vec': SGDClassifier(),
              'tfidf': GradientBoostingClassifier(learning_rate=0.5, min_samples_leaf=10,min_samples_split=5),
              'Turbo_sbert': RidgeClassifier(alpha=0.5),
              'Turbo_bow': LogisticRegression(max_iter=600),
              'Turbo_sent2vec': MLPClassifier(alpha=0.01),
              'Turbo_tfidf': LogisticRegression(max_iter=600)}

In [214]:
df = pd.read_pickle('./dataset/deepdive_100.pickle')

In [215]:
def split_vector_to_columns(data):
    col_names = ['feature'+str(i) for i in range(len(data.vector.iloc[0]))]
    X = pd.DataFrame(data.vector.tolist(), columns=col_names)
    return X, data.label.to_numpy()

def data_preparation(df, data_name):
    file_name = f"./dataset/vector_3000_{data_name}.pickle"
    data = pd.read_pickle(file_name)
    if 'Turbo' in data_name:
        index = pd.concat([df.index_wiki_35, df.index_gpt35], axis=0)
    else:
        index = pd.concat([df.index_wiki_3, df.index_gpt3], axis=0)
    traindata = data.drop(index, axis=0)
    testdata = data.loc[sorted(index.to_list())] #return in order of index_gpt35

    X_train, y_train = split_vector_to_columns(traindata)
    X_test, y_test = split_vector_to_columns(testdata)
    scaler = preprocessing.StandardScaler().fit(X_train)
    X_train = scaler.transform(X_train)
    X_test = scaler.transform(X_test)
    return X_train, y_train, X_test, y_test, testdata, index

In [216]:
def predict_label(vector_name, df):
    """
    For a given vector type, train the best performing model and return predictions
    """
    X_train, y_train, X_test, y_test, _, _= data_preparation(df, vector_name)
    model = BEST_MODEL[vector_name]
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    return y_pred, y_test

In [217]:
from sklearn.metrics import accuracy_score, f1_score, recall_score, precision_score

#Wrong predict_labels for all vector inputs
result = {}
labels = {}
for f in FILENAMES:
    y_pred, y_test = predict_label(f, df)
    result[f] = [accuracy_score(y_pred, y_test), f1_score(y_pred, y_test), recall_score(y_pred, y_test), precision_score(y_pred, y_test)]
    labels[f] = [y_pred, y_test]
result = pd.DataFrame(result, index=['accuracy', 'f1', 'recall', 'precision'])
labels = pd.DataFrame(labels, index=['predicted', 'actual'])

In [218]:
result

,sbert,bow,sent2vec,tfidf,Turbo_sbert,Turbo_bow,Turbo_sent2vec,Turbo_tfidf
accuracy,0.830000,0.870000,0.870000,0.830000,0.930000,1.0,0.920000,0.990000
f1,0.821053,0.873786,0.865979,0.838095,0.929293,1.0,0.918367,0.990099
recall,0.866667,0.849057,0.893617,0.800000,0.938776,1.0,0.937500,0.980392
precision,0.780000,0.900000,0.840000,0.880000,0.920000,1.0,0.900000,1.000000

In [219]:
labels

,sbert,bow,sent2vec,tfidf,Turbo_sbert,Turbo_bow,Turbo_sent2vec,Turbo_tfidf
predicted,"[1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, ...","[0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, ...","[0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, ...","[0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, ...","[0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, ...","[0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, ...","[0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, ...","[0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, ..."
actual,"[0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, ...","[0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, ...","[0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, ...","[0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, ...","[0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, ...","[0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, ...","[0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, ...","[0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, ..."

In [220]:
def analyze_predicted_labels(labels, vector_name, index, testdata, target):
    """
    target = 0: wrong labels 
    target = 1: false negatives
    target = 2: false positives
    Return the data index from original vector input based on selected target, input test label, and (wiki, gpt) index pair if they share the same prompt
    """
    predicted = labels[vector_name].loc['predicted']
    actual = labels[vector_name].loc['actual']
    if target == 0:
        output = [i for (i, v) in enumerate(predicted==actual) if v == False]
    if target == 1:
        output = [i for i,(x,y) in enumerate(zip(y_pred, y_test)) if (x==0 and y==1)]
    if target == 2:
        output = [i for i,(x,y) in enumerate(zip(y_pred, y_test)) if (x==1 and y==0)]

    output_index = index.iloc[output].to_list()
    
    #try to identify outputs that have the same prompts
    test_label = []
    test_text = []
    test_prompt = []
    result_pairs = []
    for idx in output_index:
        test_label.append(testdata.loc[idx].label)
        if 'Turbo' in vector_name:
            if testdata.loc[idx].label == 1: #gpt
                test_prompt.append(df[df.index_gpt35 == idx].prompt.iloc[0])
                test_text.append(df[df.index_gpt35 == idx].gpt35.iloc[0])
                wiki_idx = df[df.index_gpt35 == idx].index_wiki_35.iloc[0]
                if wiki_idx in output_index:
                    result_pairs.append(idx, wiki_idx)
            else: 
                test_prompt.append(df[df.index_wiki_35 == idx].prompt.iloc[0])
                test_text.append(df[df.index_wiki_35 == idx].wiki.iloc[0])
        else:
            if testdata.loc[idx].label == 1: #gpt
                test_prompt.append(df[df.index_gpt3 == idx].prompt.iloc[0])
                test_text.append(df[df.index_gpt3 == idx].gpt3.iloc[0])
                wiki_idx = df[df.index_gpt3 == idx].index_wiki_3.iloc[0]
                if wiki_idx in output_index:
                    result_pairs.append(idx, wiki_idx)
            else: 
                test_prompt.append(df[df.index_wiki_3 == idx].prompt.iloc[0])
                test_text.append(df[df.index_wiki_3 == idx].wiki.iloc[0])
                #test_text.append("abs")

    output_df = pd.DataFrame({'index_from_vector_datafile': output_index, 'original_label': test_label, 'prompt': test_prompt, 'text': test_text})
    return output_df, result_pairs

In [221]:
_,_,_,_, testdata, index = data_preparation(df, 'Turbo_tfidf')
output_df, result_pairs = analyze_predicted_labels(labels, 'Turbo_tfidf', index, testdata, target=0)
print(f'Pairs that share the same prompt: {result_pairs}')
output_df

Pairs that share the same prompt: []

,index_from_vector_datafile,original_label,prompt,text
0,2979,1,"charles thomas mckinnon ""chic"" murray (6 november","charles thomas mckinnon ""chic"" murray (6 novem..."

In [222]:
_,_,_,_, testdata, index = data_preparation(df, 'tfidf')
output_df, result_pairs = analyze_predicted_labels(labels, 'tfidf', index, testdata, target=0)
print(f'Pairs that share the same prompt: {result_pairs}')
output_df

Pairs that share the same prompt: []

,index_from_vector_datafile,original_label,prompt,text
0,586,0,"philip allen bennett (march 5, 1881 –","philip allen bennett (march 5, 1881 – december..."
1,1697,0,david beriáin amatriáin (1977 – 26 april,david beriáin amatriáin (1977 – 26 april 2021)...
2,2908,0,henry osborn (2 june 1859 – 22,henry osborn (2 june 1859 – 22 july 1937) was ...
3,451,0,nicanor molinas (august 1823 – july 1892),nicanor molinas (august 1823 – july 1892) was ...
4,965,0,"demidovsky (; masculine), demidovskaya (; femi...","demidovsky (; masculine), demidovskaya (; femi..."
5,2708,0,"molly macklin fowler (born february 7, 1957)","molly macklin fowler (born february 7, 1957) i..."
6,2349,0,lieutenant colonel john macrae-gilstrap (31 de...,lieutenant colonel john macrae-gilstrap (31 de...
7,1408,0,the lynndyl subdivision is a rail line,the lynndyl subdivision is a rail line owned a...
8,1660,0,devante darrius rodney (born 19 may 1998),devante darrius rodney (born 19 may 1998) is a...
9,185,0,papuwa (stylized as papuwa) is a japanese,papuwa (stylized as papuwa) is a japanese man...
10,1545,0,susan thayer (born 17 october 1957 in,susan thayer (born 17 october 1957 in new york...
11,1476,1,"charles thomas mckinnon ""chic"" murray (6 november","charles thomas mckinnon ""chic"" murray (6 novem..."
12,667,1,"ma xifan (; 899 – may 30,","ma xifan (; 899 – may 30, 958), courtesy name ..."
13,2257,1,"francisco carmelo camet, also known as eduardo","francisco carmelo camet, also known as eduardo..."
14,987,1,"arthur llewellyn williams (january 30, 1856 –","arthur llewellyn williams (january 30, 1856 – ..."
15,1655,1,"andrew james whitworth (born december 12, 1981)","andrew james whitworth (born december 12, 1981..."
16,1612,1,"gustavus adolphus smith (december 26, 1820 –","gustavus adolphus smith (december 26, 1820 – m..."